/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Add CSS styling here */
body{
    font-size: 62.5%; 
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    max-width: 100%;
}
h1 {
    font-size: 2rem;
    color: #0D7177;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
/*navigation items*/
nav {
    padding: 1% 0;
    width: 80%;
    display: flex;
    justify-content: space-around;
}
nav a {
    display: inline-block;
    padding: 1% 0;
    width: 10%;
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    background-color: #51c3c9;
    border-radius: 5px;
}
/*HEADER ITEMS*/
header div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
header div h2 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: #0D7177;
    padding: 15px;
}
header div p {
    display: flex;
    justify-content: center;
    width: 60%;
    text-align: center;
    font-size: 1rem;
    color: hsl(184, 49%, 48%);
}
.topPic {
    padding: 25px 0;
}
.spanImage {
    background-image: url('assets/bard.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 40vh;
}
.footydad {
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.footy {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 400px;
    flex-wrap: wrap;
}
.left {
    background-image: url(https://picsum.photos/250/500);
    width: 200px;
    height: 400px;
}
.para {
    font-size: 1rem;
    width: 20%;
    text-align: center;
    color: #0D7177;
}
.truefooty {
    height: 100px;
    width: 100%;
    display: flex;
    bottom: 0%;
    margin-top: 4%;
    align-items: center;
    padding-bottom: 10px;
    background-color: #E3DBCC;
}
.truefooty nav div a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
.navdiv:hover {
    background-color: white;
}
.navbar a:hover {
    color: #0D7177;
}
/*adjust for mobile*/
@media (max-width: 800px) {
    .footydad {
        
    }
}